.el-tabs__item:hover {
  color: #eff7f2;
  background-color: #40a969;
  border-right: 0;
}
.el-tabs__item {
  color: #92bdae;
  line-height: 3rem;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav {
  border: 0;
}
.el-tabs--card>.el-tabs__header .el-tabs__item {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-left: 0;
  border-right: 0.1rem solid #529780;
  &:first-child {
    border-left: 0;
  }
}
.el-tabs__item.is-active {
  color: #eff7f2;
  background-color: #40a969;
  border-right: 0;
}